@import "~bootstrap/scss/bootstrap.scss";

html body {
    background-color: rgb(242, 242, 243);
}

#delete {
    box-shadow: none;
    float: right;
}

#task {
    margin-bottom: 1px;
    margin-top: 5px;
    float: center;
    
}
